<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- 도움되는 콘솔 경고를 포함한 개발 버전 -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Vue Todo App</title>
  <style>
    .completed {
      text-decoration: line-through;
      /* 투명도 */
      opacity: 0.6;
    }
  </style>
</head>
<body>
  <div id="app">
    <h1 v-bind:style="{ color: activeColor, fontSize: fontSize + 'px' }">TODO APP</h1>
    <ul>
      <!-- 각각 아이템에 대한 if 문 -->
      <!-- v-on === @ (shortcut)-->
      <!-- <li v-for="todo in todos" v-if="!todo.completed" v-on:click="toggleTodo(todo)"> -->
      <!-- 특정 클래스만 처리 -->
      <li v-for="todo in todos" v-bind:class="{ completed: todo.completed }">
        <!-- input 에 있는 value 와 binding 시킨다 ; v-model -->
        <input type="checkbox" v-model="todo.completed">
        {{ todo.content }}
      </li>
      <!-- <li v-else v-on:click="toggleTodo(todo)">
        {{ todo.content }} [완료!]
      </li> -->
    </ul>
    <input v-model="newTodo" type="text" v-on:keydown.enter="addTodo">

    <footer>
      <button v-on:click="clearCompleted">Clear Completed</button>
    </footer>
  </div>
                                                    
  <script>
    const app = new Vue ({
      el: '#app',
      data: {
        todos: [
          {
            content: '저녁 메뉴 고민하기',
            completed: true,
          },
          {
            content: '사다리 타기',
            completed: false,
          }, 
          {
            content: '약속의 2시 낮잠자기',
            completed: false,
          },
          {
            content: '야자하기', 
            completed: false,
          },      
        ],
        newTodo: '',
        // CSS
        activeColor: 'salmon',
        fontSize: 30, 
        // Show mode
        showMode: 'all',
      }, 
      // s 안붙이면 함수 아니라고 난리남 
      methods: {
        toggleTodo: function(todo) {
          todo.completed = !todo.completed 
        },
        addTodo: function() {
          this.todos.push({
            content: this.newTodo,
            completed: false, 
          })
          this.newTodo = ''
        },
        clearCompleted: function() {
          // completed 가 true 인 모든 todo 를 리스트에서 삭제한다 
          // => completed 가 false 인 todo 만 남는다
          // python 의 remove 가 여기에는 없습니다...
          // for (todo of this.todos) {
          //   if (todo.completed) {
          //     this.todos.splice(todo)
          //   }
          // }
          const falseTodos = this.todos.filter(todo => todo.completed === false)
          this.todos = falseTodos

          // Filter 를 이용한 방법 
          // this.todos = this.todos.filter(todo => !todo.completed)
          
          // For of 문을 이용한 방법
          // const newTodos = []
          // for (const todo of this.todos) {
          //   if (!todo.completed) {
          //     newTodos.push(todo)
          //   }
          // }
          // this.todos = newTodos
        },
        todoByShowMode: function() {
          // showMode 에 따라 todolist 를 새롭게 반환한다. 
          if (this.showMode === 'notCompleted') { 
            return this.todos.filter(todo => {
              return !todo.completed
            })
          } else if (this.showMode === 'completed') {
            return this.todos.filter(todo => {
              return todo.completed
            }) 
          } else {
            return this.todos
          }
        },
      },
    })
  </script> 
</body>
</html>